neon_token = ""
project_name = ""
project_region = ""
pg_version = "15"
master_endpoint_max_cu = "2"
master_endpoint_min_cu = "1"
master_endpoint_suspend_timeout = "300"
master_branch_name = "master"
admin_role_name = "postgres"
